<div class="sidebar">
  <section class="profile-section">
    <div class="profile-image">
      <img
        class="profile-img"
        loading="lazy"
        src="profile.jpg"
        alt="Profile Image"
      />
    </div>
    <h2 class="profile-name">DAVID HURTADO</h2>
    <small class="profile-description"
      >Cat enthusiast & full-time feline cuddler. 🐾 </small
    >
  </section>

  <section class="contacts-section">
    <div>
      <div class="contacts-header">
        <h3>Contacts</h3>
        <small>fify</small>
      </div>
      <p class="contacts-description">
        🐱 50 fellow cat lovers  Always ready to share purrfect stories.
      </p>
      <div class="contacts-header">
        <h3>Profile Views</h3>
        <small>3</small>
      </div>
    </div>
  </section>
</div>
