.login-banner {
  color: var(--primary-color);
  text-align: center;
}

.title-container {
  min-width: 490px;
  min-height: 136px;
  left: 619px;
  top: 297px;
}

.main-title {
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: var(--primary-color);
}
