 <nav class="navbar bg-secondary">
    <button
      class="menu-button"
      (click)="toggleSidebar()"
      aria-label="Toggle menu">
      <mat-icon>menu</mat-icon>
    </button>

    <ul class="nav">
      @for (item of listItems; track item.name) {
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active">
            <mat-icon class="material-icons-outlined">{{ item.icon }}</mat-icon>
            <small class="nav-text">
              {{ item.name }}
            </small>
          </a>
        </li>
      }
    </ul>
  </nav>
